  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="/static/assets/images/logo.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="index.html" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="index.html">Men's</a></li>
                        <li class="scroll-to-section"><a href="index.html">Women's</a></li>
                        <li class="scroll-to-section"><a href="index.html">Kid's</a></li>
                     
                            <li class="submenu">
                        {% if user.is_authenticated %}
                                <a href="javascript:;">Pages{{request.user}}</a>
                                <ul>
                                 <li><a href="http://127.0.0.1:8000/index/contact/">Log Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>  
                                <ul>    
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="http://127.0.0.1:8000/index/contact/">Contact Us</a></li>
                                    <li><a href="http://127.0.0.1:8000/index/signup/">Signup</a></li>
                                    <li><a href="http://127.0.0.1:8000/index/login/">Log In </a></li>
                                </ul> 
                            </li>
                        {% endif %}
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->